/* src/pages/Movies.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.movie-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 250px; /* Fixed width for cards */
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.movie-card h2 {
    font-size: 1.5em;
    margin: 10px;
    color: #007BFF; /* Bootstrap primary color */
}

.movie-card p {
    margin: 10px;
    color: #555;
}

.loading,
.error {
    text-align: center;
    font-size: 1.2em;
    color: #ff5722; /* Error color */
}

.loading {
    color: #007BFF; /* Loading color */
}