
/* Apply background only on Home and Transport pages */
.background-home-transport {
  background-image: url('../images/Transport.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #050505;
  //background-color: hsl(180, 8%, 7%);
 
}

/* Style for header/footer */
.header__footer__background {
  background-color: #050505 !important;
  background: #050505 !important;
  color: #cac9c9 !important;
  padding: 20px 0;
  margin-top: auto;
}
