.header__footer__background {
    background-color: #0e0d0d !important;
    background: #0e0d0d !important;
    color: #b7b4b4 !important;
    padding: 20px 0;
    margin-top: auto;
}

.container{    
    background-image: url('../images/backgroundimage.jpg');
    background-size:cover;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vh; 
}

