.header__footer__background {
    background-color: #050505 !important;
    background: #0c0c0c !important;
    color: #b7b4b4 !important;
    padding: 20px 0;
    margin-top: auto;
}

// .container{    
//     background-image: url('../images/backgroundimage.jpg');
//     background-size:cover;
//     padding: 0;
//     margin: 0;
//     height:max-content;
//     width:max-content; 
// }

